
#navbar {
  background: white;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  z-index: 10;
};

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
} 
@media(max-width: 768px) {
    .nav-wrapper {
      width: 90%;
    }
  } 
@media(max-width: 638px) {
      .nav-wrapper {
        width: 100%;
      }
    };

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
} @media(max-width: 768px) {
.logo {
      margin-left: 5px;
    }
  }
    
#navbar ul {
  /* display: inline-block; */
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} 
@media(max-width: 640px) {
    #navbar ul {
      display: none;
    }
  } 
@media(orientation: landscape) {
    #navbar ul {
      display: inline-block;
    }
  }

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(250, 23, 220);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}



/* FOOTER WAVES */

* {
  box-sizing: border-box;
}
:root {
  --wave: #fff;
  --bg: #364c63;
}
body {
  min-height: 100vh;
  /* display: -webkit-box; */
  display: fixed;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}
main {
  background: var(--bg);
  -webkit-box-flex: 1;
          flex: 1;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.wave {
  position: fixed;
  bottom: -5%;
  left: 0;
  right: 0;
}
.wave:nth-of-type(1) {
  --speed: 60;
  --opacity: 0.3;
  --height: 12;
  --width: 320;
  --lightness: 90;
  --rise: 2;
}
.wave:nth-of-type(2) {
  --speed: 30;
  --opacity: 0.6;
  --height: 10;
  --width: 200;
  --lightness: 95;
  --rise: 5;
}
.wave:nth-of-type(3) {
  --speed: 18;
  --opacity: 1;
  --height: 6;
  --width: 180;
  --lightness: 100;
  --rise: 0;
}
/* footer {
  background: var(--wave);
  -webkit-box-flex: 1;
          flex: 1;
} */
.wave {
  height: calc(var(--height, 0) * 2vh);
  width: calc(var(--width, 0) * 1vw);
  -webkit-animation: rise calc(var(--speed, 0) * 1.5s) infinite linear;
          animation: rise calc(var(--speed, 0) * 1.5s) infinite linear;
}
@media (max-width: 480px) {
  .wave {
    height: calc(var(--height, 0) * 0.75vh);
  }
}
.wave path {
  fill: hsl(0, 0%, calc(var(--lightness, 0) * 1%));
  -webkit-animation: wave calc(var(--speed, 0) * 1s) infinite linear;
          animation: wave calc(var(--speed, 0) * 1s) infinite linear;
}
@-webkit-keyframes wave {
  to {
    -webkit-transform: translate(-761px, 0);
            transform: translate(-761px, 0);
  }
}
@keyframes wave {
  to {
    -webkit-transform: translate(-761px, 0);
            transform: translate(-761px, 0);
  }
}
@-webkit-keyframes rise {
  50% {
    -webkit-transform: translate(0, calc(var(--rise) * -1%));
            transform: translate(0, calc(var(--rise) * -1%));
  }
}
@keyframes rise {
  50% {
    -webkit-transform: translate(0, calc(var(--rise) * -1%));
            transform: translate(0, calc(var(--rise) * -1%));
  }
}


/* CARD  */


button {
  cursor: pointer
 }

 .about{
   margin-top: 7%;
   font-family: 'Jura', sans-serif;

 }

 .contact-links {
   margin-top: 8%;
   text-align: center;
   font-size: 40px;
   font-family: 'Jura', sans-serif;
 }

 .link-buttons{
   padding: 10px;

 }

 .home{
   overflow: hidden;
   position: absolute;
   margin-left: 28%;
  margin-top: 17%;
  font-family: 'Jura', sans-serif;
 }

 .text-home{
   font-size: 15px;
   text-align: right
 }

 .logo-img{
   margin-left: 15px;
 }


 .intheknow{
  font-family: 'Jura', sans-serif;
  margin-left: 20px
 }   

 form{
  font-family: 'Jura', sans-serif;
 }

 .submitBtn{
   margin-left: 14px;
   font-family: 'Jura', sans-serif;
   margin-top: 5px
 }

 .contact-row{
   padding-top: 7px
 }
 

 .card {
  font-family: 'Jura', sans-serif;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;


  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
}

.card > .img-container {
  height: 40%;
  overflow: hidden;
  text-align: center;
  background: rgb(51, 51, 53);
}


.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

/* .card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

 */


