


/* FOOTER WAVES */

.email-contact{
  font-family: 'Jura', sans-serif;
  font-size: 18px;
}

/* CARD  */
.project-wrapper{
  
  vertical-align: middle;
}

button {
  cursor: pointer
 }

#paragraph1{
  margin-top: 10%;

  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
   font-family: 'Jura', sans-serif;
   height: auto;
   width: 700px;
   box-shadow: 0 3px 6px #999, 0 3px 6px #999;
   border-radius: 2px;
}
@media(max-width: 380px){
  .paragraph1{
    width: 260px
  }
}

 .bench-pic{
   margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: 380px;
  width: 340px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  border-radius: 2px;
 }

 .jumbotron-fluid{
   float: right
 }

 .home{
   overflow: hidden;
   right: 0;  
   margin-top: 15%;
   font-family: 'Jura', sans-serif;
 
 }

 .text-home{
   font-size: 15px;
   text-align: right
 }


.git-img{
  margin-right: 4px
}
.github-link{
  background-color: white;
  padding: 4px;
  margin-top: 3%;
  /* margin-left: -10px; */
  font-family: 'Jura', sans-serif;
  border-radius: 2px;
  height: 50px;
  width: 220px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
}





